<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Integration">
  <test name="SetupTest">
    <classes>
      <class name="Integration.ProjectIntegration.AppTest"/>
    </classes>
  </test> <!-- SetupTest -->
</suite> <!-- Integration -->
